// Year Selection CSS
:root {
    --background: rgb(238, 239, 233);
    --dark: rgb(74, 74, 74);
    --lightdark: rgb(36, 35, 35);
}

body {
    font-family: "Clash Display";
    color: var(--background);
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.topnav {
    width: 100%; 
    display: flex; 
    justify-content: flex-start; 
    padding: 10px 20px;
    background-color: var(--background);
    z-index: 10; 
}

.topleft a {
    font-size: 32px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 20px;
    text-decoration: none;
    color: var(--lightdark);
    cursor: pointer;
}
.topnav a:hover{
    cursor: pointer;
}
#back-button {
    color: var(--lightdark);
    cursor: pointer;
    text-decoration: none;
    font-size: 32px;
}
#back-button, #back-button:hover {
    color: var(--lightdark);
    cursor: pointer;
    text-decoration: none;
    font-size: 32px;
}
a,a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.years {
    font-size: 60px;
}
.months {
    font-size: 35px;
}
#weekly {
    padding-top: 5em;
    
}
.tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.tab {
    font-size: 20px;
    padding: 10px 20px;
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    font-family: "Clash Display";
}

.tab.active {
    border-bottom: 2px solid var(--dark);
    color: var(--dark);
}

.view {
    margin-top: 20px;
    display: none;
    font-weight: bold;
    font-size: 25px;
}

.view:not(.hidden) {
    display: block;
}
.current-date {
    font-size: 32px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

li {
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
}

li[data-entry="true"]::after {
    content: ' •';
    color: var(--dark);
    font-size: 18px;
}

.days li {
    background-color: lightgrey;
    display: inline flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 60px;
    width:60px;
    border-radius: 50%;
    margin: 5px;
    font-size: 30px;
}
button {
    color: var(--lightdark);
    border: none;
    background-color: var(--background);
    cursor: pointer;
    text-decoration: none;
    font-size: 32px;
}
button:hover {
    color: grey;
}
